<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from hoanghung-thuyvi.iwedding.info/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2024 09:21:21 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wedding &#10148; Hoàng Hưng &#9829; Thúy Vi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoàng Đình Hưng &amp; Nguyễn Thị Thúy Vi - Our wedding date: 2024-03-24 | Tôi thấy rằng bạn là người hoàn hảo, và vì vậy tôi yêu bạn. Khi đó anh thấy em không hoàn hảo và càng yêu em nhiều hơn">
    <meta name="keywords" content="Wedding, Wedding website, Website đám cưới, Tạo website đám cưới miễn phí">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:site_name" content="Hoàng Đình Hưng &amp; Nguyễn Thị Thúy Vi">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hoàng Đình Hưng &amp; Nguyễn Thị Thúy Vi Wedding site!">
    <meta property="og:url" content="index.html">
    <meta property="og:description" content="Hoàng Đình Hưng &amp; Nguyễn Thị Thúy Vi - Our wedding date: 2024-03-24 | Tôi thấy rằng bạn là người hoàn hảo, và vì vậy tôi yêu bạn. Khi đó anh thấy em không hoàn hảo và càng yêu em nhiều hơn">
    <meta property="og:image" content="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/44a8ac9c5cef0207114add1d41c949fc.jpg">
    <meta property="og:image:url" content="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/44a8ac9c5cef0207114add1d41c949fc.jpg">
    <meta property="og:image:secure_url" content="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/44a8ac9c5cef0207114add1d41c949fc.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/cdn.biihappy.com/ziiweb/images/static/common/cropped-wedding-ring-32x32.png">
    <link rel="stylesheet" type="text/css" href="/assets/local/templates/template18/css/libs097a.css?v=20240130">
    <link href="/assets/local/common/calendar097a.css?v=20240130" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/local/templates/template18/css/style097a.css?v=20240130">
    <link rel="stylesheet" type="text/css" href="/assets/local/templates/template18/css/responsive097a.css?v=20240130">
    <link href="/assets/local/templates/template18/css/plugin097a.css?v=20240130" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Dosis&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K9L0ZFE1PJ"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-K9L0ZFE1PJ');</script>

</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" class="home-3">
    <div class="preloader-area">
        <div class="loader loader-13">
            <div class="css-heart heart1"></div>
            <div class="css-heart heart2"></div>
            <div class="css-heart heart3"></div>
            <div class="css-heart heart4"></div>
        </div>
    </div>
    <header id="inner-navigation">
        <nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function navbar-arrow">
            <div class="container">
                <div class="logo pull-left">
                    <a href="\"><h1 style="font-size:25px;">H<span class="main-color"><i class="fa fa-heart" style="margin:5px 5px 5px 10px;color:red"></i></span>V</h1></a>
                    <a href="\" class="sticky-logo"><h1 style="font-size:25px;">H<span class="main-color"><i class="fa fa-heart" style="margin:5px 5px 5px 10px;color:red"></i></span>V</h1></a>
                </div>
                <div id="navbar" class="navbar-nav-wrapper pull-right">
                    <ul class="nav navbar-nav navbar-right" id="responsive-menu">
                        <li class="active">
                            <a href="#wd-banner">Home</a>
                        </li>


                        <li class="active">
                            <a href="#about-us">Cặp đôi</a>

                        </li>
                        <li class="active">
                            <a href="#our-story">Chuyện tình yêu</a>
                        </li>

                        <li class="active">
                            <a href="#wedding-event">Sự kiện</a>
                        </li>


                        <li class="active">
                            <a href="#the-gallery">Album cưới</a>
                        </li>


                    </ul>
                </div>
            </div>
            <div id="slicknav-mobile"></div>
        </nav>
    </header>

    <section id="wd-banner" class="hero-slider hero-style-1">

        <div class="banner_caption_text wow fadeInDown">
            <div class="heart-arrow">
                <span><i class="fa fa-heart"></i></span>
            </div>
            <div class="heart-arrow1">
                <span><i class="fa fa-heart"></i></span>
            </div>
            <div class="heart-arrow2">
                <span><i class="fa fa-heart"></i></span>
            </div>
            <h3>We’re Getting Married!</h3>
            <h2><span>Hoàng Hưng</span> &amp; <span>Thúy Vi</span></h2>
             
            <div class="text-date">
                <p>SAVE THE DATE<span>@RenderSection("TimeSave",false)</span></p>
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <div class="slide-inner slide-bg-image" data-background="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/LYN09937-white.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/LYN09964-white.jpg">
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
            <div class="next-prev-btn">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="seperator">
            <img src="/assets/local/templates/template18/images/body/layer-5.png" alt="seperator">
        </div>
    </section>

    @RenderBody()

    <footer id="footer" class="footer-widgets" style="background-image: url(/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/templates/62ef3cfd4c248a18ec5a9b5a/992ba8d5d3d1dc44c4c97ec9d9605316.jpg);background-repeat: no-repeat;background-size: cover;background-position: bottom;background-attachment: fixed;width:100%">
        <div class="footer-note">
            <h1>Thank you!</h1>
            @*<p>Hoàng Hưng &amp; Thúy Vi</p>*@
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p class="para">Cảm ơn bạn đã trở thành một phần quan trọng trong ngày trọng đại của chúng mình</p>
                        <!--<ul class="social-media">-->
                        <!--<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                        <!--<li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                        <!--<li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                        <!--</ul>-->
                        <!--<p> Copyright 2018 Powred by <a href="https://cyclonethemes.com/">Cyclone Themes</a> All Rights Reserved. </p>-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="donate-modal" class="donate-modal">
        <div class="donate-modal-content">
            <div class="donate-modal-header">
                <span class="donate-modal-close">&times;</span>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                    </svg>
                    <span>Hộp mừng cưới</span>
                </strong>
            </div>
            <div class="donate-modal-body">
                <div class="donate-box">
                    <div class="donate-card" id="qr_cr">
                        <h3>Mừng cưới đến chú rể</h3>
                        <img class="qr-code-image" src="/assets/local/templates/template18/images/QR/QR_hung.png">
                        <p>Ngân hàng: <strong>Vietinbank</strong></p>
                        <p>Tên tài khoản: <strong>Hoàng Đình Hưng</strong></p>
                        <p>Số tài khoản: <strong>102870509471</strong></p>
                        <p>Chi nhánh: <strong>TP.Hải Phòng</strong></p>
                        <div class="cryptos-box-view">
                            <button class="cryptos-box-view-close">Đóng</button>
                        </div>
                    </div>
                    <div class="donate-card" id="qr_cd">
                        <h3>Mừng cưới đến cô dâu</h3>
                        <img class="qr-code-image" src="/assets/local/templates/template18/images/QR/QR_Vi.png">
                        <p>Ngân hàng: <strong>PVcombank</strong></p>
                        <p>Tên tài khoản: <strong>Nguyễn Thị Thúy Vi</strong></p>
                        <p>Số tài khoản: <strong>662666393939</strong></p>
                        <p>Chi nhánh: <strong>TP.Hải Phòng</strong></p>
                        <div class="cryptos-box-view">
                            <button class="cryptos-box-view-close">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="menu-access" class="">
        <div class="btn-menu-open">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </div>
        <div class="btn-menu-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
            </svg>
        </div>
        <ul class="p-0 m-0 list-menu-icon">
            @*<li class="text-center">
                <a href="#rsvp" class="text-white">
                    <span class="content-button tooltipBtn">
                        <span class="tooltiptext" style="">Gửi lời chúc</span>
                        <img class="access-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/wishes.png" alt="">
                    </span>
                </a>
            </li>
            <li class="text-center">
                <a href="#confirm" id="confirm" target="_blank" class="text-white">
                    <span class="content-button tooltipBtn">
                        <span class="tooltiptext">Xác nhận tham dự</span>
                        <img class="access-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/rsvp4.png" alt="">
                    </span>
                </a>
            </li>*@
            <li class="text-center buttonDonate">
                <a href="#donate" class="text-white">
                    <span class="content-button tooltipBtn">
                        <span class="tooltiptext" style="">Mừng cưới</span>
                        <img class="access-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/money_bag.png" alt="">
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        const biicore = {
            template_id: '62ef3cfd4c248a18ec5a9b5a',
            templatePremium: ('0' === '1'),
            themeRoot: 'https://hoanghung-thuyvi.iwedding.info/assets/local/templates/template18',
            webroot: 'https://hoanghung-thuyvi.iwedding.info',
            coreSite: 'https://biihappy.com',
            webToken: '65bc9ab0a71c2144dc0d3e9f',
            isPremium: ('' === '1'),
            bgMusic: '/assets/local/mp3/BeautifulInWhite-ShaneFilan-524801.mp3',
            alert: JSON.parse('[]'), effect: JSON.parse('{\"type\":\"heart\"}')
        };
    </script>

    <script src="/assets/local/templates/template18/js/jquery-plugin-collection097a.js?v=20240130"></script>
    <script src="/assets/local/common/calendar097a.js?v=20240130"></script>
    <script src="/assets/local/templates/template18/js/script097a.js?v=20240130"></script>
    <script src="/assets/local/common/bii097a.js?v=20240130"></script>

</body>

<!-- Mirrored from hoanghung-thuyvi.iwedding.info/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Feb 2024 09:21:21 GMT -->
</html>