
@{
    ViewBag.Title = "khach_cd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section TimeSave{
    31-03-2024
}
<!--Giới thiệu cd cr-->
<section id="about-us" class="section-padding" style="height:100%">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Cặp đôi</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="the-couple wow fadeInLeft uncle">
                    <div class="couple-img">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/7d2ac055997a824ec95cbcb14116dfc0.jpg" alt="">
                        <h4>Chú Rể</h4>
                    </div>

                    <div class="about-couple about-couple-1">
                        <div class="about-top">
                            <h3>Hoàng Đình Hưng</h3>
                            <div class="cp-social">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <div class="cp-detail">
                            <p class="ar">Là chàng trai đến từ miền biển Đồ Sơn. Hiện đang công tác tại công ty Kyocera Việt Nam. Thuộc tuý...<a class="button-see" tabindex="0" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" data-content="Là chàng trai đến từ miền biển Đồ Sơn. Hiện đang công tác tại công ty Kyocera Việt Nam. Thuộc tuýp người hướng nội, hướng ngoại đều có nên chưa ngán bất kì cuộc vui nào =))" style="font-size:14px;cursor: pointer">Xem thêm<i class="bi bi-arrow-down-short"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="the-couple wow fadeInRight bride">
                    <div class="couple-img">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/LYN09710.jpg" alt="">
                        <h4>Cô Dâu</h4>
                    </div>
                    <div class="about-couple">
                        <div class="about-top">
                            <h3>Nguyễn Thị Thúy Vi</h3>
                            <div class="cp-social">
                                <ul>
                                </ul>
                            </div>
                        </div>


                        <div class="cp-detail">

                            <p class="al">Cô gái đến từ mảnh đất Thủy Nguyên, Thuộc tuýp người hướng nội, đối với cô gia đình là quan trọng nhất...<a class="button-see" tabindex="0" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" data-content="Cô gái đến từ mảnh đất Thủy Nguyên. Thuộc tuýp người hướng nội, đối với cô gia đình là quan trọng nhất những thứ khác có hay không, không quan trọng" style="font-size:14px;cursor: pointer">Xem thêm<i class="bi bi-arrow-down-short"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn">
        </div>
    </div>
</section>
<!--Button gửi lời chúc và mừng cưới-->
<!--<section class="section-accessibilities">
    <div class="container">
        <div class="row button-accessibilities">
            <div class="col col-lg-12">
                <div class="text-center btn-container">
                    <a href="rsvp.html" class="accessibility-btn album btn section-button">
                        <span class="content-button">
                            <img class="access-section-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/wishes.png" alt="access-btn"> Gửi lời chúc
                        </span>
                    </a>
                    <a href="rsvp.html" target="_blank" class="accessibility-btn album btn section-button">
                        <span class="content-button">
                            <img class="access-section-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/rsvp4.png" alt="access-btn"> Xác nhận tham dự
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="accessibility-btn album btn section-button buttonDonate">
                        <span class="content-button">
                            <img class="access-section-icon" src="/assets/cdn.biihappy.com/ziiweb/images/static/common/money_bag.png" alt="access-btn"> Mừng cưới
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--Câu chuyện tình yêu-->
<section id="our-story" class="story-bg section-padding">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Chuyện tình yêu</h2>
        </div>
        <div class="story-timeline">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-lt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/d73a8abc52aac432060be258b54196c5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-rt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Bạn có tin vào tình yêu online không?</h3>
                                        <h6>December 27 2021</h6>
                                    </div>
                                    <p class="wow fadeInRight">Tôi đã từng không tin vào tình yêu online. Đã từng nghĩ làm sao có thể thích một người chưa từng gặp mặt? Vậy mà giờ đây tôi lại đang như vậy, bây giờ tôi đã hiểu: thế giới ảo tình yêu thật đấy!!! Ngày ấy vu vơ đăng một dòng status trên facebook than thở, vui đùa nói chuyện với một người xa lạ chưa từng quen. Mà nào hay biết, 3 năm sau người ấy lại là chồng mình.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-lt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Nụ hôn đầu tiên^^</h3>
                                        <h6>April 10 2022</h6>
                                    </div>
                                    <p class="wow fadeInLeft">Đó là ngày chủ nhật cuối tuần như bao ngày cuối tuần khác chúng tôi gặp nhau và đi chơi nhưng trời lại đổ mưa. Chúng tôi ghé vào một quán cafe khá hot trên mạng xã hội tại thời điểm đó, cùng trò chuyện và chụp với nhau những bức ảnh. Tại nơi đó không gian ấy chúng tôi đã trao nhau nụ hôn đầu tiên cho đối phương :3:3</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-rt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/00bd42401ebaf5b69f48a18445f2cc56.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-lt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/32d2cb6f78c2555d71ef6603066665e7.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-rt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Phút giây cầu hôn</h3>
                                        <h6>October 31 2023</h6>
                                    </div>
                                    <p class="wow fadeInRight">3 năm bên nhau không phải là quãng thời gian quá dài, nhưng đủ cho chúng ta nhận ra được rất nhiều điều. Yêu nhau, vun vén hạnh phúc và cùng nỗ lực vượt qua những khó khăn trong cuộc sống. Chúng ta từ 2 con người xa lạ mà bước vào cuộc đời nhau. Và giờ đây chúng ta tiếp tục cùng nhau sang trang mới. Giây phút anh ngỏ lời “Làm vợ anh nhé!”, em đã nguyện ý đời này, đi đâu cũng được, miễn là cùng anh.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-lt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Ngày lễ đính hôn</h3>
                                        <h6>March 20 2024</h6>
                                    </div>
                                    <p class="wow fadeInLeft">Tiếng trái tim đôi ta đập thật nhanh. Thì thầm lời yêu thương. Ngày tình về chung đôi...” Sau bao nhiêu chờ đợi, cuối cùng ngày vui của chúng ta cũng tới rồi. Cảm ơn vì mình đã luôn là một phần trong cuộc sống của nhau. Em và anh không chỉ là người yêu mà chúng ta còn là tri kỷ. Ngày hôm nay, em sẽ là cô dâu của anh và sau này sẽ là mẹ của các con anh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="story-lt-rt story-rt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/d40077fe86872bd97296.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story-timeline story-time-mb">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-rt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Bạn có tin vào tình yêu online không?</h3>
                                        <h6>December 27 2021</h6>
                                    </div>
                                    <p class="wow fadeInRight">Tôi đã từng không tin vào tình yêu online. Đã từng nghĩ làm sao có thể thích một người chưa từng gặp mặt? Vậy mà giờ đây tôi lại đang như vậy, bây giờ tôi đã hiểu: thế giới ảo tình yêu thật đấy!!! Ngày ấy vu vơ đăng một dòng status trên facebook than thở, vu vơ đùa giỡn nói chuyện với một người xa lạ chưa từng quen. Mà nào hay biết, 3 năm sau người ấy lại là chồng mình.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-lt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/d73a8abc52aac432060be258b54196c5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-lt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Nụ hôn đầu tiên^^</h3>
                                        <h6>April 10 2022</h6>
                                    </div>
                                    <p class="wow fadeInLeft">Đó là ngày chủ nhật cuối tuần như bao ngày cuối tuần khác chúng tôi gặp nhau và đi chơi nhưng trời lại đổ mưa. Chúng tôi ghé vào một quán cafe khá hot trên mạng xã hội tại thời điểm đó, cùng trò chuyện và chụp với nhau những bức ảnh. Tại nơi đó không gian ấy chúng tôi đã trao nhau nụ hôn đầu tiên cho đối phương :3:3</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-rt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/00bd42401ebaf5b69f48a18445f2cc56.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-rt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Phút giây cầu hôn</h3>
                                        <h6>October 31 2023</h6>
                                    </div>
                                    <p class="wow fadeInRight">3 năm bên nhau không phải là quãng thời gian quá dài, nhưng đủ cho chúng ta nhận ra được rất nhiều điều. Yêu nhau, vun vén hạnh phúc và cùng nỗ lực vượt qua những khó khăn trong cuộc sống. Chúng ta từ 2 con người xa lạ mà bước vào cuộc đời nhau. Và giờ đây chúng ta tiếp tục cùng nhau sang trang mới. Giây phút anh ngỏ lời “Làm vợ anh nhé!”, em đã nguyện ý đời này, đi đâu cũng được, miễn là cùng anh.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-lt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/32d2cb6f78c2555d71ef6603066665e7.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-lt">
                                <div class="expand-story">
                                    <div class="story-head wow fadeIn">
                                        <h3>Ngày lễ đính hôn</h3>
                                        <h6>March 20 2024</h6>
                                    </div>
                                    <p class="wow fadeInLeft">Tiếng trái tim đôi ta đập thật nhanh. Thì thầm lời yêu thương. Ngày tình về chung đôi...” Sau bao nhiêu chờ đợi, cuối cùng ngày vui của chúng ta cũng tới rồi. Cảm ơn vì mình đã luôn là một phần trong cuộc sống của nhau. Em và anh không chỉ là người yêu mà chúng ta còn là tri kỷ. Ngày hôm nay, em sẽ là cô dâu của anh và sau này sẽ là mẹ của các con anh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="story-lt-rt story-rt">
                                <div class="image-story">
                                    <img src="/assets/cdn.biihappy.com/ziiweb/d40077fe86872bd97296.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CountDown Events-->
<section id="the-countdown" class="the-countdown layered-b section-padding" style="background-image: url(/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/templates/62ef3cfd4c248a18ec5a9b5a/434352a3244652c2c14e1f202ca626dc.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed">
    <div class="seperator seperator-up">
        <img src="/assets/local/templates/template18/images/body/layer-3.png" alt="seperator">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="count-titles wow fadeInDown">
                    <h2>The big day</h2>
                    <div id="clock" data-date="2024-03-24" data-text-day="Ngày" data-text-hour="Giờ" data-text-minute="Phút" data-text-second="Giây"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="count-img">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="black-overlay-se"></div>
    <div class="seperator">
        <img src="/assets/local/templates/template18/images/body/layer-3.png" alt="seperator">
    </div>
</section>
<!--Tổng hợp sự kiện thời gian và địa điểm-->
<section id="wedding-event" class="wedding-event">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Sự kiện cưới</h2>
        </div>
        <div class="event-dates">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-event">
                        <div class="event-img wow fadeInLeft sticky">
                            <img src="/assets/cdn.biihappy.com/ziiweb/default/template/62ef3cfd4c248a18ec5a9b5a/8cf390dccd7f841cc2fea94f1f2ad7a1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="event-stack wow fadeIn">
                        <h3 class="text-center">LỄ ĂN HỎI</h3>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-5">
                                <div class="image-wrap">
                                   
                                    <img class="event-image" src="/assets/cdn.biihappy.com/b659f3d01da9b0f7e9b8-new.jpg" alt="LỄ ĂN HỎI">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-7">
                                <div class="event-title text-center-sm">
                                    <ul>
                                        <li class="text-center"><i class="fa fa-calendar-check-o"></i>2024-03-20</li>
                                        <li class="text-center"><i class="fa fa-clock-o"></i> 13:30 PM</li>
                                    </ul>
                                </div>
                                <p class="text-center-sm"><i class="fa fa-map-marker"></i> Thôn quán,gần phòng khám đa khoa vạn phúc, Thủy Đường - Thủy Nguyên - Hải Phòng</p>
                                <a class="text-center-sm" href="https://maps.app.goo.gl/ujy5jawRXk6NPZLq5" target="_blank">Xem bản đồ  <i class="fa fa-caret-right"></i></a>
                                @*<div class="calendar-button">
                                        <div class="atcb">
                                            {
                                            "name":"LỄ CƯỚI NHÀ NỮ (Đám cưới Hoàng Hưng và Thúy Vi)",
                                            "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!. Thông tin chi tiết xem tại website:<br>[url]https://hoanghung-thuyvi.iwedding.info[/url]",
                                            "startDate":"2023-02-10",
                                            "endDate":"2023-02-10",
                                            "startTime":"07:30 AM",
                                            "endTime":"07:30 AM",
                                            "location":"370 Đường 02 tháng 9, Quận Hải Châu, Đà Nẵng",
                                            "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                            "timeZone":"Asia/Ho_Chi_Minh",
                                            "iCalFileName":"Reminder-Event",
                                            "listStyle":"modal",
                                            "label":"Thêm vào lịch",
                                            "trigger":"click"
                                            }
                                        </div>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                    <div class="event-stack wow fadeIn">
                        <h3 class="text-center">TIỆC CƯỚI</h3>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-5">
                                <div class="image-wrap">
                                 
                                    <img class="event-image" src="/assets/cdn.biihappy.com/ziiweb/b11b51e5bc9c11c2488d-new.jpg"  alt="TIỆC CƯỚI">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-7">
                                <div class="event-title text-center-sm">
                                    <ul>
                                        <li class="text-center"><i class="fa fa-calendar-check-o"></i>2024-03-31</li>
                                        <li class="text-center"><i class="fa fa-clock-o"></i> 10:00 AM</li>
                                    </ul>
                                </div>
                                <p class="text-center-sm"><i class="fa fa-map-marker"></i> Thôn quán,gần phòng khám đa khoa vạn phúc, Thủy Đường - Thủy Nguyên - Hải Phòng</p>
                                <a class="text-center-sm" href="https://maps.app.goo.gl/ujy5jawRXk6NPZLq5" target="_blank">Xem bản đồ  <i class="fa fa-caret-right"></i></a>
                                @*<div class="calendar-button">
                                        <div class="atcb">
                                            {
                                            "name":"TIỆC CƯỚI NHÀ NỮ (Đám cưới Hoàng Hưng và Thúy Vi)",
                                            "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!. Thông tin chi tiết xem tại website:<br>[url]https://hoanghung-thuyvi.iwedding.info[/url]",
                                            "startDate":"2023-02-10",
                                            "endDate":"2023-02-10",
                                            "startTime":"11:30 AM",
                                            "endTime":"11:30 AM",
                                            "location":"187 Hà Huy Tập, P. Hoà Khê, Quận Thanh Khê, Đà Nẵng",
                                            "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                            "timeZone":"Asia/Ho_Chi_Minh",
                                            "iCalFileName":"Reminder-Event",
                                            "listStyle":"modal",
                                            "label":"Thêm vào lịch",
                                            "trigger":"click"
                                            }
                                        </div>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Lời cảm thán dành cho nhau-->
<section id="the-quote" class="the-quote layered-b section-padding" style="background-image: url(/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/templates/62ef3cfd4c248a18ec5a9b5a/434352a3244652c2c14e1f202ca626dc.jpg); background-repeat: no-repeat;background-size: cover;background-attachment: fixed">
    <div class="seperator seperator-up">
        <img src="/assets/local/templates/template18/images/body/layer-3.png" alt="seperator">
    </div>
    <div class="black-overlay-se"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="quote-img">
                    <img src="/assets/cdn.biihappy.com/ziiweb/66bb0fd1f4a859f600b9.jpg">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="quote-counter">
                    <div class="quote-titles wow fadeInDown">
                        <h2>Đôi lời cho đôi ta.</h2>
                    </div>
                    <p>“ Những dòng này không đủ để diễn tả được tất cả tình cảm mà chúng ta dành cho nhau trên hành trình đến ngày cưới. Cả 2 đang rất hạnh phúc khi trở thành một phần cuộc sống của nhau. Hy vọng rằng chúng ta sẽ có một cuộc hôn nhân viên mãn. Chúc mừng ngày của chúng ta! 😊🎉”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="seperator">
        <img src="/assets/local/templates/template18/images/body/layer-3.png" alt="seperator">
    </div>
</section>
<!--Album hình ảnh-->
<section id="the-gallery" class="gallery wide-gallery section-padding">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Album Hình Cưới</h2>
        </div>
        <div class="row masonry-gallery">
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9dac47f1e9b083016438/LYN09930.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9dac47f1e9b083016438/LYN09930.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9de36c2d7ba1130ae39a/LYN09736.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9de36c2d7ba1130ae39a/LYN09736.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d399597aed6a10cada4/LYN09970.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d399597aed6a10cada4/LYN09970.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d8d1a0c4796140bfb8c/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d8d1a0c4796140bfb8c/large.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d7fd1637f8fdf00a32c/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d7fd1637f8fdf00a32c/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d93ec67ce92d90a979c/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d93ec67ce92d90a979c/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d01e1417728cd09fffe/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d01e1417728cd09fffe/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d2634fb28b29b0e75d4/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d2634fb28b29b0e75d4/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d12391288554607f6bf/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9d12391288554607f6bf/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9ceca71c2144dc0d3ea4/large.jpg" title="">
                        <img src="/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/65bc9ceca71c2144dc0d3ea4/small.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix grid-item">
                <div class="item port-popup">
                    <a href="~/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/ngangcafe/LYN09572.jpg" title="">
                        <img src="~/assets/cdn.biihappy.com/ziiweb/website/65bc9ab0a71c2144dc0d3e9f/galleries/ngangcafe/LYN09572-500.jpg" alt="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



